/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto;color:#000;font-family:"Microsoft YaHei","微软雅黑","黑体";}
table{border-collapse:collapse;border-spacing:0;}
a{color:#383838;text-decoration:none;}
a:hover{color:#f60;}

*:focus {outline: none;} 
img{ display:block;}
.f12{ font-size:12px;}
.fl{float: left; _display: inline;}
.fr{float:right; _display: inline;}
.l{ width:100%; float:left;}
.cf{ clear:both;}
.tl{ text-align:left;}
.tc{text-align: center;}
.tr{ text-align:right;}
.btn{ display:inline-block; cursor:pointer;}
.oh{ overflow:hidden;}
.cur{ cursor:pointer;}
.none{display: none;}
.red{ color:#e24d46;}
.btn{ display:inline-block; cursor:pointer; border:none;}
.pr{ position:relative;}
.pa{ position:absolute;}
.fx{ position:fixed;}
.radio{ margin:8px 4px 0 0;}
.gray{ color:#929292;}
em{ font-style:normal;}
strong{ font-weight:normal;}
.yel{ color:#ff7e00;}
.blue{ color:#238cc8;}
.red{ color:#ea6060}
h6{ font-size:12px; font-weight:normal;}
h5{ font-size:12px;}
h4{ font-size:14px; font-weight:normal;}
h3{ font-size:14px;}

/*按钮*/
.bluebtn{ width:197px; height:50px; background:#00a6e5; line-height:50px; font-size:18px; color:#fff;}
.bluebtn:hover{ background:#238cc8; color:#fff;}
.redbtn{ width:197px; height:50px; background:#ea6060; line-height:50px; font-size:18px; color:#fff;}
.redbtn:hover{ background:#f00;}
.brownbtn{ width:197px; height:50px; background:#2e4653; line-height:50px; font-size:18px; color:#fff;}
.brownbtn:hover{ background:#EA6060;}
.graybtn{ width:136px; height:38px; background:#d1d6d4; text-align:center; line-height:38px; font-size:14px; color:#0c0b17;}
.graybtn:hover{ background:#e9ece6;color:#0c0b17;}
.greenbtn{width:197px; height:50px; background:#50c688; text-align:center; line-height:50px; font-size:14px; color:#fff;}
.greenbtn:hover{ background:#238cc8; color:#fff;}
body{ background:#fefefe;}
.phd{ background:url(../images/hdbg01.gif) repeat-x left top; height:140px;}
.box-hd{ width:1000px; margin:0 auto}
.box01-hd{ height:40px; line-height:40px;}
.box01-hd .tel{font-size:14px; margin-top:2px; padding-left:42px; background:url(../images/tel_icon.png) no-repeat left center; color:#ea6060; font-size:30px; font-family:Arial, Helvetica, sans-serif;}
.box01-hd a{ padding-right:5px; margin-left:5px;}
.part01-hd{ margin-right:40px;}
.box02-hd{ height:58px; overflow:hidden;}
.logo{ margin-top:6px;}
.logafter a{ margin-left:18px; text-decoration:underline;}
.phd .news{ padding-right:16px;}
.phd .logafter .count{ display:block; background:url(../images/newsbg.png) no-repeat; width:16px; height:16px; text-align:center; line-height:16px; color:#fff; right:0; position:absolute; text-decoration:none; top:2px; right:40px;}
.phd .logafter span em{ font-size:14px; padding:0 3px;}
.part01-wel a{ text-decoration:none; margin-left:12px;}
/*菜单*/
.nav li{ margin-left:25px; float:left; padding-left:30px; background:url(../images/nav_home.png) no-repeat 0 0; font-family:"宋体";}
.nav li a{ font-size:16px; color:#2e4653; font-weight:bold; display:block; padding:2px 0;}
.nav li a:hover{ color:#f60;}
.nav .nav-new{background:url(../images/nav_new.png) no-repeat 0 1px;}
.nav .nav-wx{background:url(../images/nav_wx.png) no-repeat 0 0; padding-left:33px;}
.nav .nav-wb{background:url(../images/nav_wb.png) no-repeat 0 0; padding-left:33px;}
.nav .nav-mr{background:url(../images/nav_mr.png) no-repeat 0 0;}
.nav .nav-kh{background:url(../images/nav_kh.png) no-repeat 0 0; padding-left:33px;}
.nav .nav-fw{background:url(../images/nav_fw.png) no-repeat 0 0; padding-left:33px;}

/*会员中心头部*/
.phd-member{ background:url(../images/mem_bg01.png) repeat-x left top;}

/* CSS Document */
#slides{ width:100%; margin:0 auto;height:254px; position:relative; margin-top:7px; margin-bottom:21px;}
#slides .slide{ width:1100px; height:254px;}
#slides .slide .item{ width:1100px; height:254px;}
#slides .slide .item a{ display:block; width:1100px; height:254px;}
#slides .slide img{ width:1100px; height:254px;}
#slides .pagination{ position:absolute; bottom:10px; width:100%; text-align:center; height:15px;z-index:10;}
#slides .pagination li{ width:15px; height:15px; display:inline-block; margin:0 2px;}
#slides .pagination li a{ display:inline-block;width:11px; margin-bottom:3px; border-radius:50%; height:11px; background:#fff; text-indent:-999em;}
#slides .pagination li.current a{ background:#72cef5;}

.searchbox{ background:url(../images/seabg.png) no-repeat; margin-top:7px; width:188px; height:24px; line-height:24px;}
.searchbox .seatext{ width:147px; height:20px; line-height:20px; border:1px solid #fff; margin-left:11px;}
.seabtn{ background:url(../images/seabtn.png) no-repeat; width:19px; height:18px; text-indent:-999em; margin-top:2px;}

/*面包导航*/
.location{ height:39px; border-bottom:1px solid #e5ece9; line-height:39px; margin-bottom:15px;}
.part01-location{ font-size:14px; padding-bottom:0px; padding-left:27px; width:978px;}
.part01-location span{ font-size:36px;}
.part01-location em{ width:87px; height:17px; background:#1a1a1a; font-size:12px; text-align:center; color:#fff; margin:18px 0 0 16px;}
/*分页*/
.page a{ display:inline-block; height:30px; line-height:30px; background:#fff; border:1px solid #ccc; border-left:none; padding:0 15px;}
.page a:hover,.page a.active{ color:#7497ce; background:#f5f5f5;}
.page strong{ color:#ccc; margin-left:15px;}
.page a.prev{ border-left:1px solid #ccc; border-radius:5px 0 0 5px;}
.page a.next{ border-radius:0 5px 5px 0;}

.wrap{ padding-bottom:50px;}
.pbd{ width:1000px; margin:0 auto; text-align:left;}

/*脚部*/
.pfd{ border-top:1px solid #ea6060; padding-top:30px;}
.box-ft{ width:1000px; margin:0 auto;}
.box01-ft{ width:998px; height:204px; border:1px solid #d1d6d4; padding-top:23px;}
.part01-ft{ width:130px; height:180px; border-right:1px solid #f0f0f2; margin-left:34px;}
.part01-ft h5{ padding:5px 0 5px 30px; margin-bottom:14px; font-size:14px;}
.linkul{ margin-left:30px;}
.linkul li{ font-size:14px; padding-bottom:15px;}
.linkul li a{ color:#888;}
.linkul li a:hover{ color:#f60;}
.h5-fwzx{background:url(../images/ft_icon01.png) no-repeat 0 2px;}
.h5-ysgg{background:url(../images/ft_icon02.png) no-repeat 0 2px;}
.h5-gywm{background:url(../images/ft_icon03.png) no-repeat 0 2px;}

.part02-ft{ width:325px;height:180px; border-right:1px solid #f0f0f2;}
.part02-ft .grp01{ width:81px; margin-left:31px; padding-top:10px;}
.part02-ft .grp02{ width:210px;}
.part02-ft .grp02 h6{ font-size:14px; color:#30262d; padding-bottom:13px; font-weight:bold;}
.tel-ft{ font-size:24px; font-family:Arial, Helvetica, sans-serif; color:#ea6060; margin-bottom:8px;}
.part02-ft .qq{ padding-bottom:10px; font-size:14px; color:#929292;}
.part02-ft .qq span{ display:inline-block; cursor:pointer}

.sharebox img{ display:inline; margin-right:7px;}
.title-kf{ height:58px;}
.title-kf strong{ padding-left:23px; background:url(../images/ft_icon01.gif) no-repeat 0 0;}
.time-ft{ padding-bottom:14px;}
.part03-ft{ width:172px;}
.part03-ft p{ padding-bottom:9px; font-size:14px;}
.ewm{ margin:0 auto; display:inline-block; width:125px;}

.box02-ft{ padding:30px 0 10px 0; color:#929292; line-height:28px;}
.safe-ft{ padding-bottom:10px;}
.safe-ft a{ display:inline-block; margin-left:15px;}
.box02-ft span{ padding-right:10px; margin-left:10px;}
/*会员中心头部*/
.phd-member-admin{ background:url(../images/adminbg01.gif) repeat-x left top;}
.nav-mem{ padding-left:10px;}
.nav-mem li{ float:left; padding-right:29px;}
.nav-mem li a{ display:block; font-size:16px; color:#fff; height:40px; font-weight:bold; line-height:40px;padding-left:30px;}
.nav-mem li .xwmt{ background:url(../images/icon01_nav.png) no-repeat 0 10px;}
.nav-mem li .wxtg{ background:url(../images/icon02_nav.png) no-repeat 0 10px;padding-left:32px;}
.nav-mem li .wbtg{ background:url(../images/icon03_nav.png) no-repeat 0 10px; padding-left:32px;}
.mem-hd .help{ padding-left:32px; background:url(../images/icon_help.png) no-repeat; display:block; text-align:left; margin-top:8px; margin-right:20px; padding-bottom:10px; font-size:16px; color:#fff; padding-top:1px;}
.mem-hd .cash{ background:url(../images/cash_bg01.png) no-repeat; width:78px; padding-left:40px; height:32px; line-height:32px; display:block; text-align:left; font-weight:bold; color:#fff; font-size:16px; margin-top:3px;}
/*会员中心脚部*/
.pfd-mem{ padding-top:20px; border-top:1px solid #e9ece6; background:#fbfbf8; color:#929292;}
.box01-ft-mem{ padding-bottom:25px;}
.part01-ft-mem a{ padding:5px 0 5px 30px; margin-right:28px; color:#929292;}
.part01-ft-mem .a1{ background:url(../images/ft_icon04.gif) no-repeat 0 1px;}
.part01-ft-mem .a2{ background:url(../images/ft_icon05.gif) no-repeat 0 0;}
.part01-ft-mem .a3{ background:url(../images/ft_icon06.gif) no-repeat 0 0;}
.part01-ft-mem a:hover{ color:#f60;}
.box02-ft-mem{ padding-bottom:20px;}
.box02-ft-mem span{ padding-right:50px;}
.box03-ft-mem span{ padding-right:20px;}

/*page*/
.page-wb{ color:#808080; padding-right:5px; color:#000; height:34px; line-height:34px;}
.page-wb a,.page-wb .next,.page-wb .text{ float:left; margin-left:8px; font-size:14px; text-align:center; display:inline; width:36px; height:34px; line-height:34px; border:1px solid #d1d6d4;}
.page-wb em{width:19px; height:34px; line-height:34px; font-weight:bold; display:inline-block; float:left; margin-left:10px;}
.page-wb .on{ background:#2e4653; color:#fff;}
.page-wb .text{width:22px; height:32px; line-height:32px;border:1px solid #d1d6d4; margin-right:10px;}
.page-wb i{ font-style:normal;}
.page-wb .total{ font-weight:normal; padding:0 10px;}
.page-wb select{ margin:2px 10px 0 10px; height:32px;}
.page-wb .aok{ text-align:center; margin-left:10px; cursor:pointer; margin-right:10px; display:block; width:78px; letter-spacing:4px; height:36px; background:#e5ece9; line-height:36px;}

.popBox{position:absolute;left:0px; top:0px; z-index:10000;}
.popBox .popMask {display:block;  background:#000\9; filter:alpha(opacity=50)\9; background:rgba(0,0,0,0.5);}
/*1021*/
.part02-batch{ height:147px; overflow:auto;}

/*1108*/
.location{ font-size:14px;}
.blank10{height: 10px;}
.header{ font-size:14px;}
.box-hd{ width:1200px;}
.pbd{ width:1200px;}
.box-ft{ width:1200px;}
.w1200{ width:1200px; margin:0 auto;}
.header {z-index: 999;position: relative;box-shadow:0 1px 3px #ddd;background: #fff;filter: none;border: none;padding: 0;border-radius: 0;height: 120px;}
.header_top{ height:30px; line-height:30px;background:#f0f0f0; color:#353334;box-shadow: 0 1px 3px #ddd;}
.top_left{ width:350px; float:left;}
.top_right{ display:inline-block;float:right;}
.header_top a{ color:#353334; text-decoration:none;}
.header_top a:hover{ color:#353334; text-decoration:none;}
.header_top .top_right li {float: left;padding: 0 15px 0 3px;color: #353334;height: 30px;line-height: 30px;}
.header_lc{border-bottom:1px solid #cb1b02;}
.header_nav {position: relative;height:79px;}
.header_nav .member_logo{overflow:hidden; width:200px;position: absolute;left:0px; top:0px; height:60px; padding:5px 0px;}
.header_nav .member_logo a{width:200px; height:60px; overflow:hidden; line-height:50px; background:url(../images/logo.png) no-repeat left center; display:block; text-indent:-9999px;}
.header_nav .member_logotxt{overflow:hidden; width:200px;position: absolute;left:190px; top:13px; height:24px; padding:10px; background:none; font-size:20px; border-left:1px solid #959595; z-index:10}

.member_menu{color: #fff;display: block;height:60px; width:800px; position:absolute; right:0px; bottom:0px;_bottom:-1px;}
.member_menu li,.member_menu li a{width:100px; }
.member_menu li a{color: #666;height:60px; line-height:60px;display:block;}
.member_menu li{ height:60px;float:left; font-size:16px; text-align:center; position: relative; color: #cb1b02;font-weight:bold;}
.member_menu li a:hover{color: #cb1b02; text-decoration:none;}
.member_menu li a:hover,.member_menu li.fir_cur,.member_menu li.nav_cur{ background:url(../images/ico_bg.gif) no-repeat center bottom;}
.member_menu li.nav_cur a{ color:#cb1b02;}
.member_menu li.fir{background:none;}
.member_menu li.fir_cur a{color: #fff;}
.member_menu li.nav_frist{width:1px; background:none}
.member_menu li.nav_next{ width:120px;color:#fff;float:right;background:#ffa92d;background: -webkit-gradient(linear,left top,left bottom,color-stop(#ffa92d,0),color-stop(#ff6600,1));background: -webkit-linear-gradient(top,#ffa92d 0,#ff6600 100%);background: -moz-linear-gradient(top,#ffa92d 0,#ff6600 100%); background: -o-linear-gradient(top,#ffa92d 0,#ff6600 100%);background: linear-gradient(top,#ffa92d 0,#ff6600 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa92d',endColorstr='#ff6600',GradientType=0);}
.member_menu li.nav_next a{ color:#fff;width:120px;}
.searchboxwrap{ width:1200px;}
.textbtn{ display:inline; width:115px; height:40px; background:#ea6060; line-height:40px; font-size:14px; color:#fff; display:block; text-decoration:none; text-align:center;}
.textbtn:hover{ background:#f00;color:#fff;}
.steps-bar {padding-left: 0;font-size: 0;line-height: 0;background: #eee;border-radius: 3px;overflow: hidden;white-space: nowrap; width:950px;}
.steps-bar .step {position: relative;display: inline-block;*display: inline;width: 245px;font-size: 14px;line-height: 40px;_line-height: 41px;text-align: center;color: #666;*zoom: 1;*vertical-align: top}
.steps-bar .step_post {color: #999}
.steps-bar .step_current {color: #fff;background: #ff8900}
.steps-bar .step_current .arrow_fg {border-left-color: #ff8900}
.steps-bar .step_last .icon_complete {position: absolute;width: 17px;height: 17px;top: 9px;left: 88px;}
.steps-bar . {font-size: 18px;font-weight: bold;font-family: Arial}
.steps-bar .arrow_fg,.steps-bar .arrow_bg {position: absolute;top: 0;_top: -1px;right: -21px;width: 0;height: 0;border-width: 21px 0 21px 21px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #eee;font-size: 0;line-height: 0;z-index: 1}
.steps-bar .arrow_bg {right: -24px;top: 0px;_top: -1px;border-left-color: #FFF;border-width: 21px 0 21px 21px}
.steps-bar-3 .step {width: 33.33%;}
.steps-bar-4 .step {width: 25%;}
.steps-bar_dark {background: #dedede}
.steps-bar_dark .arrow_fg {border-color: transparent transparent transparent #dedede}

.tabmenu{ border-bottom:1px solid #e5ece9; height:50px; position:relative;}
.tabmenu ul{ z-index:1; position:absolute; left:0px; bottom:0px; width:800px}
.tabmenu li{ float:left; height:46px; line-height:46px;}
.tabmenu li a{color:#0c0b17; display:block;font-size:14px; font-weight:bold;}
.tabmenu li.select{border-top:3px solid #ea6060;}
.tabmenu li span{ display:block;padding:0 22px;}
.tabmenu li.select span{ border-right:1px solid #e5ece9;border-bottom:1px solid #fff;border-left:1px solid #e5ece9;}
.tabmenu li.select{ background:none;}
.tabmenu .search{ float:right; width:350px; padding:3px;height:40px;}
.tabmenu .search{ float:right; width:350px; padding:3px;height:40px;}
.mid-search2{height: 42px; background:#5dbfe5;}
.mid-search2 .seatext2{ padding-left:10px; width:265px; color:#babab7; height:36px; background:#fff; line-height:36px; border:none; margin-left:2px}
.mid-search2 .seabtn2{ background:url(../images/seabtn2a.gif) no-repeat center center; width:70px; height:40px;text-indent: -999em;margin-top: 2px;display: inline-block;cursor: pointer;border: none;}
.tab01-cate{border-collapse: collapse;width: 100%;text-align: center;}
.tab01-cate td{ border:1px solid #e5ece9; padding:5px 0;}
.tab01-cate .t1{ background:#f4f4f4; color:#333; padding-right:13px; width:106px; text-align:right; border-right:none; font-weight:bold;}
.tab01-cate .t2{border-left:none; padding-left:15px; text-align:left;}
.seawrap{ margin-bottom:20px; margin-top:20px;}
/*排序条件 begin*/
.mr10{ margin-right:10px;}
.filter_box{ margin-top:20px; width:1198px}
.filter_box .up b,.filter_box .down b,#store-selector .close,#store-selector .text b,.filter_box .instock b,.filter_box .filter_type b,.filter_box .activity b{background-image:url(../images/filter_ico.png);background-repeat:no-repeat}
.filter_box{border:1px solid #ddd;background:#F7F7F7;box-shadow:0 1px 1px rgba(0,0,0,.02)}
.filter_box .fore1{overflow:hidden;height:26px;padding:5px 8px;border-bottom:1px solid #E7E3E7;zoom:1}
.filter_box .fore2{padding:3px 8px;zoom:1}
.filter_box dl,.filter_box dt,.filter_box dd{float:left;line-height:26px;zoom:1}
.filter_box .total{float:right;height:22px;padding:2px 15px 2px 0;border-right:1px solid #E7E3E7;line-height:22px;font-family:verdana;color:#E4393C}
.filter_box .pagin{float:right;height:22px;padding:2px 0;border-left:1px solid #fff}
.filter_box .filter_order dd{height:24px;border:1px solid #CECBCE;background-position:0 -73px;background-repeat:repeat-x;background-color:#fff;margin-right:5px;line-height:24px;overflow:hidden;zoom:1}
.filter_box .up,.filter_box .down{position:relative}
.filter_box .filter_order a{display:block;padding:0 10px}
.filter_box .filter_order b{display:none;position:absolute;top:6px;right:8px;width:9px;height:11px;overflow:hidden;font-size:0}
.filter_box .filter_order .curr{border:1px solid #E4393C;background:#E4393C;font-weight:700}
.filter_box .filter_order .curr a:link,.filter_box .filter_order .curr a:visited{color:#fff}
.filter_box .up a,.filter_box .down a{padding-right:20px}
.filter_box .filter_order .up b,.filter_box .filter_order .down b{display:block}
.filter_box .filter_order .up b{background-position:0 -12px}
.filter_box .filter_order .down b{background-position:0 0}
.filter_box .store{padding-right:15px;border-right:1px solid #E7E3E7}
.filter_box .instock{position:relative;padding-left:16px}
.filter_box .instock b,.filter_box .activity b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;background:url(../images/filter_ico.png) no-repeat}
.filter_box .instock a:link b,.filter_box .instock a:visited b,.filter_box .instock .disabled b,.filter_box .activity b,.filter_box .activity a:link b,.filter_box .activity a:visited b,.filter_box .activity .disabled b{background-position:-26px -25px}
.filter_box .instock .disabled{color:#999}
.filter_box .instock a:hover b,.filter_box .instock a:active b,.filter_box .instock .selected a:link b,.filter_box .instock .selected a:visited b,.filter_box .activity a:hover b,.filter_box .activity a:active b,.filter_box .activity a.selected:link b,.filter_box .activity a.selected:visited b{background-position:-39px -25px}
.filter_box .activity .disabled,.filter_box .instock .disabled{color:#999}
.filter_box .merger{position:relative;padding-left:31px;border-left:1px solid #fff}
.filter_box .merger .disabled{color:#999}
.filter_box .merger b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;background:url(i/20120418.png) no-repeat}
.filter_box .merger b{left:16px}
.filter_box .merger .disabled b,.filter_box .merger a:link b,.filter_box .merger a:visited b{background-position:-28px -25px}
.filter_box .merger a:hover b,.filter_box .merger a:active b,.filter_box .merger .selected a:link b,.filter_box .merger .selected a:visited b{background-position:0 -25px}
.filter_box .filter_type{padding-left:15px}
.filter_box .filter_type dd{margin-right:14px;position:relative;padding-left:16px}
.filter_box .instock b,.filter_box .filter_type b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;font-size:0}
.filter_box .filter_type b{background-position:-67px -25px}
.filter_type dd{ cursor:pointer;}
.filter_box .filter_type b:hover,.filter_box .filter_type dd.selected b,.filter_box .filter_type dd:hover b{background-position:-53px -25px;}
*html .filter_box .order dd{line-height:26px}
.filter_box .up b, .filter_box .down b, #store-selector .close, #store-selector .text b, .filter_box .instock b, .filter_box .filter_type b, .filter_box .activity b {background-image: url(../images/filter_ico.png);background-repeat: no-repeat;}
.filter_box .instock b, .filter_box .filter_type b {display: block;position: absolute;top: 7px;left: 0;width: 13px;height: 13px;font-size: 0;}
.pagin .text i{font-style:normal;font-weight:700;color:#E4393C}
.pagin .text, .pagin .current {
border: 0;padding: 4px 11px;}.pagin a, .pagin span {float: left;height: 16px;padding: 3px 10px;border: 1px solid #ccc;margin-left: 2px;font-family: arial;line-height: 16px;font-size: 14px;overflow: hidden;-moz-border-radius: 5px;-webkit-border-radius: 5px; font-size:12px;}
.pagin-m .prev,.pagin-m .next,.pagin-m .prev-disabled,.pagin-m .next-disabled{border-radius:3px;background:#fff}
.pagin a,.pagin span{border-radius:3px}
/*排序条件 end*/
.tab01-weibo .ctrl span{ margin:0 5px;}

/*资讯页面*/
.news_title { width:100%; font-size:30px; text-align:center; line-height:36px; padding:30px 0 10px;}
.sub_newstitle { width:100%; line-height:18px; text-align:center; color:#666; padding-bottom:10px; border-bottom:1px dashed #666;}
.news_content { width:90%; margin:0 auto; font-size:14px; line-height:30px; padding:30px 0;}




.head_img {
	height:120px  !important;
	width:60px; 
}
/* 隐藏编辑器的保存按钮 */
#cke_9 {
	display:none;
}